$primaryColor:#b81c25;
@import '../sass/theme/_theme';

/* Predefined Colors */
$turquoise:#b81c25;
$inputHoverBorderColor:#5f666c;
$medoinputHoverBorderColor:#b81c25;
$primaryColor:#b81c25;
$MYfonts:Microsoft Yahei;
$STfonts:STSong;
$fontColor:#666666;
$medofontSize:20px;
$medoborderRadius:6px;
$medoinputPadding:10px;
$medoinputBorderColor:#d1d1d1;
$medoColorBlue:#3f6aae;
$backendbutton:#b81c25;